<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>MultiFileUploader</servlet-name>
        <servlet-class>MultiFileUploader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiFileUploaderForSub</servlet-name>
        <servlet-class>MultiFileUploaderForSub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiFileUploaderForEditSub</servlet-name>
        <servlet-class>MultiFileUploaderForEditSub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>merchant_signup</servlet-name>
        <servlet-class>merchant_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_unique_merchant</servlet-name>
        <servlet-class>check_unique_merchant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_subcategory</servlet-name>
        <servlet-class>get_subcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_products</servlet-name>
        <servlet-class>add_products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_product</servlet-name>
        <servlet-class>edit_product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_product_gallery</servlet-name>
        <servlet-class>add_product_gallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_user_login</servlet-name>
        <servlet-class>serverForMobile.check_user_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_signup</servlet-name>
        <servlet-class>serverForMobile.user_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_banner</servlet-name>
        <servlet-class>add_banner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>del_banner</servlet-name>
        <servlet-class>del_banner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_banners</servlet-name>
        <servlet-class>serverForMobile.get_banners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_categories</servlet-name>
        <servlet-class>serverForMobile.get_categories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_subcategories</servlet-name>
        <servlet-class>serverForMobile.get_subcategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove_from_cart</servlet-name>
        <servlet-class>remove_from_cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alter_qty_cart</servlet-name>
        <servlet-class>alter_qty_cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_products</servlet-name>
        <servlet-class>serverForMobile.get_products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_product_gallery</servlet-name>
        <servlet-class>serverForMobile.get_product_gallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_single_product</servlet-name>
        <servlet-class>serverForMobile.get_single_product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_user_details</servlet-name>
        <servlet-class>serverForMobile.get_user_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_user_addresses</servlet-name>
        <servlet-class>serverForMobile.get_user_addresses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_user_address</servlet-name>
        <servlet-class>serverForMobile.add_user_address</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimplePhotoUploader</servlet-name>
        <servlet-class>SimplePhotoUploader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MultiFileUploader</servlet-name>
        <url-pattern>/MultiFileUploader</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MultiFileUploaderForEdit</servlet-name>
        <servlet-class>MultiFileUploaderForEdit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MultiFileUploaderForEdit</servlet-name>
        <url-pattern>/MultiFileUploaderForEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiFileUploaderForSub</servlet-name>
        <url-pattern>/MultiFileUploaderForSub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiFileUploaderForEditSub</servlet-name>
        <url-pattern>/MultiFileUploaderForEditSub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>merchant_signup</servlet-name>
        <url-pattern>/merchant_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_unique_merchant</servlet-name>
        <url-pattern>/check_unique_merchant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_subcategory</servlet-name>
        <url-pattern>/get_subcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_products</servlet-name>
        <url-pattern>/add_products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_product</servlet-name>
        <url-pattern>/edit_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_product_gallery</servlet-name>
        <url-pattern>/add_product_gallery</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>check_unique_user</servlet-name>
        <servlet-class>check_unique_user</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>check_unique_user</servlet-name>
        <url-pattern>/check_unique_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_user_login</servlet-name>
        <url-pattern>/check_user_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_signup</servlet-name>
        <url-pattern>/user_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_banner</servlet-name>
        <url-pattern>/add_banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>del_banner</servlet-name>
        <url-pattern>/del_banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_banners</servlet-name>
        <url-pattern>/get_banners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_categories</servlet-name>
        <url-pattern>/get_categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_subcategories</servlet-name>
        <url-pattern>/get_subcategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove_from_cart</servlet-name>
        <url-pattern>/remove_from_cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alter_qty_cart</servlet-name>
        <url-pattern>/alter_qty_cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_products</servlet-name>
        <url-pattern>/get_products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_product_gallery</servlet-name>
        <url-pattern>/get_product_gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_single_product</servlet-name>
        <url-pattern>/get_single_product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_user_details</servlet-name>
        <url-pattern>/get_user_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_user_addresses</servlet-name>
        <url-pattern>/get_user_addresses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_user_address</servlet-name>
        <url-pattern>/add_user_address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimplePhotoUploader</servlet-name>
        <url-pattern>/SimplePhotoUploader</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
